/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.green-bar {
    width: 100%;
    height: 50px; /* Height of the green bar */
    background-color: #33cf96; /* Green color */
    position: fixed; /* Fixes the bar to the top of the page */
    top: 0;
    left: 0;
    z-index: 100; /* Ensures the bar stays on top of other elements */
}

.container {
    position: relative;
    z-index: 1; /* Ensures content is in front of the green bar */
}

h1 {
    font-size: 6rem; /* Larger font size for prominence */
    font-weight: 900; /* Extra bold */
    color: #000000; /* Black text */
    margin-bottom: 20px;
}

p {
    font-size: 2rem; /* Increase paragraph size for readability */
    color: #333333; /* Dark grey for the paragraph */
}
